/*
  You can add custom CSS rules or import files here.
*/


/* Import the Radzen CSS files */
@import './styles-generated.css';



table.gridtable {
    font-family: verdana, arial, sans-serif;
    /*font-size: 88%;*/
    /*color:#333333;*/
    color: black;
    border-width: 1px;
    /*border-color: #666666;*/
    border-color: #666666;
    border-collapse: collapse;
}

    table.gridtable th {
        font-size: 95%;
        text-align: center;
        align-content: center;
        align-items: center;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        /*border-color: #666666;*/
        border-color: #666666;
        background-color: #dedede;
    }

    table.gridtable td {
        font-size: 95%;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        /*border-color: #666666;*/
        border-color: #666666;
        background-color: #ffffff;
    }
